:root {
    --bg-color: #000836;
    --textmain-color: #fff;
    --violet-color: #771473;
    --btn-color-1: #202A69;
    --btn-color-2: #240C48;
    --gradient-1: linear-gradient(90deg, #771473 11.33%, #6777D8 100%);
    --gradient-2: linear-gradient(137.64deg, #788AF2 6.31%, rgba(114, 132, 239, 0.23) 98.06%);
    --gradient-3: linear-gradient(137.64deg, #771473 6.31%, rgba(119, 20, 115, 0.26) 98.06%);
    --gradient-4: linear-gradient(269.86deg, #FFFFFF 0.12%, rgba(255, 255, 255, 0) 149.13%);
    --gradient-5: linear-gradient(131.74deg, #000836 42.73%, rgba(119, 20, 115, 0.63) 64.86%);
    --gradient-6: linear-gradient(129.68deg, #771473 16.35%, #6777D8 108.99%);
    --gradient-7: linear-gradient(90deg, #771473 -11.79%, #6777D8 125.89%);
    --gradient-8: linear-gradient(131.92deg, rgba(103, 119, 216, 0.99) 7.27%, rgba(119, 20, 115, 0.99) 99.16%);;
}
